Source: mysql-utilities-commercial
Section: python
Priority: extra
Maintainer: MySQL Release Engineering <mysql-build@oss.oracle.com>
Build-Depends: debhelper (>= 8), python-all-dev (>= 2.6)
X-Python-Version: >= 2.6
Standards-Version: 3.9.3

Package: mysql-utilities-commercial
Architecture: all
Depends: python2.6 | python2.7, python (>= 2.6.3), mysql-connector-python (>= 2.0.0) | mysql-connector-python-commercial (>= 2.0.0)
Conflicts: mysql-utilities (<= ${binary:Version})
Replaces: mysql-utilities (<= ${binary:Version}), mysql-utilities-commercial (<= ${binary:Version})
Provides: mysql-utilities-commercial
Homepage: http://dev.mysql.com/doc/index-utils-fabric.html
Description: Collection of scripts for managing MySQL servers
 MySQL Utilities is both a set of command-line utilities as well as a 
 python library, developed for making the common tasks easy to 
 accomplish. It is a package of utilities that are used for maintenance 
 and administration of MySQL servers. These utilities encapsulate a set 
 of primitive commands, and bundles them so they can be used to perform 
 macro operations with a single command.
