#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
unexport CPPFLAGS
unexport CFLAGS
unexport CXXFLAGS
unexport FFLAGS
unexport LDFLAGS
export DH_VERBOSE=1
#PYTHON2=$(shell pyversions -vr)

DH_OPTIONS=--buildsystem=python_distutils

override_dh_compress:
	echo 'dh_compress override'
	ls
	echo `pwd`
	ls debian/mysql-utilities-commercial/usr/lib/
	echo 'removing mysql/__init__.pyc'
	if [ -f debian/mysql-utilities-commercial/usr/lib/python2.6/dist-packages/mysql/__init__.pyc ] ; then \
		rm debian/mysql-utilities-commercial/usr/lib/python2.6/dist-packages/mysql/__init__.pyc ; \
		ls debian/mysql-utilities-commercial/usr/lib/python2.6/dist-packages/mysql ; fi
	if [ -f debian/mysql-utilities-commercial/usr/lib/python2.7/dist-packages/mysql/__init__.pyc ] ; then \
		rm debian/mysql-utilities-commercial/usr/lib/python2.7/dist-packages/mysql/__init__.pyc ; \
		ls debian/mysql-utilities-commercial/usr/lib/python2.7/dist-packages/mysql; fi
	# continue normal dh_compress
	dh_compress -O--buildsystem=python_distutils -O--build-purelib=build/python2

override_dh_link:
	echo 'dh_link override'
	

override_dh_auto_clean:
	echo 'dh_auto_clean override - do nothing :)'
	

override_dh_auto_build:
	echo 'dh_auto_build override Already built.'
	# we already built.

override_dh_pysupport:
	echo 'override_dh_pysupport'
	# nothing to do here.

override_dh_auto_install:
	echo 'dh_auto_install override'
	# We make sure we do not build again, just install built code
	DESTDIR=$(CURDIR)/debian/mysql-utilities-commercial/usr; \
	BUILDDIR=$(CURDIR); \
	echo $$DESTDIR; \
	for pyvers in $(shell pyversions -sv); do \
		python$$pyvers setup.py \
			install_lib --install-dir=$$DESTDIR/lib/python$$pyvers/dist-packages/mysql \
			--skip-build --build-dir=$$BUILDDIR/mysql \
			install_scripts --install-dir=$$DESTDIR/bin \
			--build-dir=$$BUILDDIR/usr/bin --skip-build \
			install_data --install-dir=$$DESTDIR/../ \
			install_man --root=$$DESTDIR --srcdir=$$BUILDDIR/ \
			--prefix=/share/man \
			install_egg_info --install-dir=$$DESTDIR/lib/python$$pyvers/dist-packages; \
		#rm build/python2/mysql/__init__.py; \
	done
%:
	dh $@ --skip-build


binary: binary-arch binary-indep

binary-indep: build
	dh binary-indep

binary-arch: build



